* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

h2 {
    font-size: 15px;
    line-height: 24px;
    color: #838383;
    margin: 0 0 5px 0;
}

p {
    margin: 0 0 10px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(153, 153, 152);
    height: 100vh;
}

.header__title {
    text-align: center;
    color: rgb(69, 69, 233);
    margin: 0 0 40px 0;
    padding: 20px 0 0 0;
}



.main-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.btn__full-distance {
    font-family: inherit;
    font-size: 18px;
    padding: 16px 32px;
    background-color: rgb(13, 13, 255);
    text-align: center;
    width: 300px;
    color: antiquewhite;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn__full-distance:hover {
    transition: .2s ease-in;
    background-color: rgb(64, 64, 236);
}
