.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 250px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 8px;
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    border: none;
    border-radius: 8px;
    background-color: rgb(10, 133, 155);
    cursor: pointer;
    margin: 0 0 10px 0;
    color: white;
}