.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 250px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 40px;
}

.card--delivery {
    box-shadow: 0 0 5px 0 yellow;
}

.card--delivered {
    box-shadow: 0 0 5px 0 blue;
}

.card--canceled {
    opacity: 0.4;
    background-color: rgb(182, 172, 172);
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    border: none;
    border-radius: 8px;
    background-color: rgb(10, 133, 155);
    cursor: pointer;
    margin: 0 0 10px 0;
    color: white;
    font-family: 'Verdana', 'Arial', sans-serif;
    font-size: 14px;
    transition: .2s ease-in-out;
}

.card__btn-edit:hover {
    transition: .2s ease-in;
    background-color: rgb(75, 151, 165);
}

.card__btn-edit:active {
    transition: .1s ease-in;
    background-color: rgb(3, 83, 97);
}