.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__btn-save {
    border-radius: 8px;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    background-color: rgb(37, 37, 231);
    border: none;
    transition: .3s ease-out;
    cursor: pointer;
}

.form__btn-save:hover {
    background-color: rgb(110, 110, 212);
    transition: .3s ease-in-out;
}

.form__btn-save:active {
    background-color: rgb(8, 8, 192);
    transition: .1s ease-in-out;
}